<<<<<<< HEAD
<%- include("./partials/html-head") %>
<%- include("./partials/nav") %>
=======
<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
>>>>>>> 357b23c86ad41b2fedf42a801e36e4072f372b00

<main>
  <h1><%= title %></h1>
</main>

<<<<<<< HEAD
<%- include("./partials/footer") %>
=======
<%- include("./partials/footer") %>
>>>>>>> 357b23c86ad41b2fedf42a801e36e4072f372b00
